* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.freecodecamp-logo {
  width: 150px;
  margin-bottom: 20px;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.serach_container {
  margin-bottom: 20px;
}

p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.serach_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

input {
  width: 60%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #1e90ff;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1c86ee;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #1e90ff;
  color: white;
}

#pokemon-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#pokemon-id {
  font-size: 1.2rem;
  color: #888;
}

#weight,
#height {
  font-size: 1rem;
  color: #555;
}

#types {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.type {
  background-color: #ffcb05;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
}

.type.fire {
  background-color: #ee8130;
}

.type.water {
  background-color: #6390f0;
}

.type.grass {
  background-color: #7ac74c;
}

.type.electric {
  background-color: #f7d02c;
}

.speed {
  font-weight: bold;
  color: #1e90ff;
}
